#customize-theme-controls #accordion-section-wallstreet_theme_mode_section .accordion-section-title:before {
    content: "New";
    color: #F44336;
    position: absolute;
    right: 50%;
    font-size: 1rem;
    font-weight: 800;
    line-height: 20px;
    font-style: italic;
}